{% extends "header.html" %}
{% block content %}

	<div style = "background: #ffffff; padding: 10px 20px; border: 1px solid #dddddd; border-radius: 3px; margin-top: 10%; margin-left:25%;width:100%;">

	<div class="text-center border rounded" style="margin-top: 100px;margin-right: 100px;margin-left: 100px;margin-bottom: 20px;">
<label style="font-size: 50px;margin-right: 20px;">
{{source}}</label>
<i class="icon ion-arrow-right-c" style="font-size: 45px;margin-right: 20px;"></i>
<label style="font-size: 50px;">{{destination}}</label></div>
    <div class="border rounded" style="margin: 100px;margin-top: 0px;">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Train&nbsp; No.</th>
                        <th>Train Name</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th style="margin-left: 20px;">Departs</th>
                        <th>Arrives</th>
                        <th style="margin-right: 20px;">Duration</th>
                        <th></th>
                        <th></th>
                        <th>Class</th>
                        
                    </tr>
                </thead>
                <tbody>
					
					{% for train in trains %}
						{% if train.source == source and train.destination == destination %}
							<tr>

								{% set running_days = [] %}
								{% for key in train.__table__.columns._data.keys() %}
									{% if train[key] == 1 %}
										{{ running_days.append(key) or "" }}
									{% endif %}
								{% endfor %}
								<td style="text-align: center;">{{ train.train_no }}</td>
			      					<td style="text-align: center;">{{ train.train_name }}</td>
			      					<td style="text-align: center;">{{ train.date }}</td>
			      					
									{% for day in running_days %}
										{{ day }},
									{% endfor %}
								</td>
								<td></td>
								<td></td>

								<td style="margin-left: 20px;"></td>
								<td></td>
								<td style="margin-right: 20px;"></td>


								<td></td>
								<td></td>

								<td style="text-align: center;">
									{{ tier }}
								</td>  
								

							</tr>
							
						{% endif %}
					{% endfor %}
				</tbody>
						
            </table>
        </div>
    </div>
  
   <input type="button" style="align: center;"value="Select Seats" class="btn btn-success">
   </div>
{% endblock content %}
