{% extends "header.html" %}
{% block content %}

{% if my_bookings %}
<div class="card">
    <h3 style="text-align: center;">Your Bookings</h3>
    <hr>
    {% for ticket in my_bookings %}

        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('ticket', pnr=ticket.pnr_number) }}">PNR No. {{ ticket.pnr_number }}</a>
                </div>
                <p class="article-content">Train No. {{ ticket.train_no }}</p>
                <p class="article-content">Tier {{ ticket.tier }}</p>
                <p class="article-content">Seat No. {{ ticket.seat_no }}</p>
                <p class="article-content">Date of Journey {{ ticket.journey_date }}</p>
            </div>
        </article>

    {% endfor %}

</div>
{% else %}
<div class="card">
    <h5 class="card-header">No Bookings Found</h5>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">You don't have any Bookings.</p>
    </div>
</div>
{% endif %}

{% endblock content %}