{% extends "header.html" %}
{% block content %}
<div class="content-section">
  <p>PNR No. {{ ticket.pnr_number }}</p>
  <p>Passenger Name:  {{ passenger.name }}</p>
  <p>Age: {{ passenger.age }}</p>
  <p>Source: {{ ticket.source }}</p>
  <p>Destination: {{ ticket.destination }}</p>
  <p>Train No. {{ ticket.train_no }}</p>
  <p>Tier: {{ ticket.tier }}</p>
  <p>Date of Journey: {{ ticket.journey_date }}</p>
  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Print Ticket</a>
  <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#cancelModal">Cancel
    Ticket</button>
</div>

<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelModalLabel">Cancel Ticket?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure, you want to cancel the ticket?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('cancelTicket', pnr=ticket.pnr_number) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Yes, Cancel">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}