{% extends "header.html" %}
{% block content %}

	<div style = "background: #ffffff; padding: 10px 20px; border: 1px solid #dddddd; border-radius: 3px; margin-top: 10%; margin-left:25%;width:100%;">

		<table class="table table-striped table-dark">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col" style="text-align: center;">Train Number</th>
		      <th scope="col" style="text-align: center;">Train Name</th>
		      <th scope="col" style="text-align: center;">Starting Station</th>
		      <th scope="col" style="text-align: center;">Ending Station</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row" style="text-align: center;">1</th>
		      <td style="text-align: center;">Mark</td>
		      <td style="text-align: center;">Otto</td>
		      <td style="text-align: center;">@mdo</td>
		    </tr>
		    <tr>
		      <th scope="row" style="text-align: center;">2</th>
		      <td style="text-align: center;">Jacob</td>
		      <td style="text-align: center;">Thornton</td>
		      <td style="text-align: center;">@fat</td>
		    </tr>
		    <tr>
		      <th scope="row" style="text-align: center;">3</th>
		      <td style="text-align: center;">Larry</td>
		      <td style="text-align: center;">the Bird</td>
		      <td style="text-align: center;">@twitter</td>
		    </tr>
		  </tbody>
		</table>

	</div>

{% endblock content %}